{% extends 'homebase.html.twig' %}

{% block title %}New Cargo{% endblock %}

{% block body %}
    <h1 class="text-center">Kargo oluşturunuz</h1>

    {{ include('cargo/_form.html.twig') }}
{% endblock %}
