{% extends 'adminbase.html.twig' %}

{% block title %}New Cargo{% endblock %}

{% block body %}
    <h1>Kargo oluşturunuz</h1>

    {{ include('admin/cargo/_form.html.twig') }}

    <a href="{{ path('app_cargo_index') }}">Geri</a>
{% endblock %}
